* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    flex-direction: column;
}

.container h1 {
    font-size: 3rem;
}

.search {
    display: flex;
    margin-top: 20px;
}

input[type="text"] {
    background-color: rgb(33, 33, 33);
}

.search-bar {
    height: 30px;
    width: 250px;
    border: 2px solid rgb(33, 33, 33);
    border-radius: 7px;
    margin-right: 5px;
    color: whitesmoke;
}

.search-btn {
    color: white;
    background-color: #B53D39;
    border: 2px solid #B53D39;
    border-radius: 7px;
    width: 70px;
    cursor: pointer;
}
.search-btn:hover {
    background-color: #a23632;
}
input[type="text"]::placeholder {
    margin-left: 20px;
}


