* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 30px;
    margin-left: 20%;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20%;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.container, .search-results {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    flex-direction: column;
}

.container h1 {
    font-size: 3rem;
}

.search {
    display: flex;
    margin-top: 20px;
}

input[type="text"] {
    background-color: rgb(33, 33, 33);
}

.search-bar {
    height: 35px;
    width: 250px;
    border: 2px solid rgb(33, 33, 33);
    border-radius: 7px;
    margin-right: 5px;
    color: whitesmoke;
}

.search-btn {
    color: white;
    background-color: #B53D39;
    border: 2px solid #B53D39;
    border-radius: 7px;
    width: 70px;
    cursor: pointer;
}
.search-btn:hover {
    background-color: #a23632;
}
input[type="text"]::placeholder {
    margin-left: 20px;
}

.movie-cards {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card-content {
    height: 80px;
    width: 250px;
    font-size: 0.8rem;
    background-color: hsl(0, 1%, 14%);
}

.card-content h3, p {
    margin: 12.5px 0px 0px 12px;
}

.results-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


